.env
retail-project/
terraform/.terraform
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
Pipfile.lock
.cache/
dashboard/.env
dbt/logs/dbt.log
dbt/retail_pipeline/logs
dbt/retail_pipeline/target
.vscode
secrets.txt
backup-script
.DS_Store
**/.DS_Store
