.env
retail-project/
terraform/.terraform
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
Pipfile.lock
.cache/
dashboard/.env
dbt/logs/dbt.log
dbt/retail_pipeline/logs
dbt/retail_pipeline/target
.vscode
secrets.txt
backup-script
.DS_Store
**/.DS_Store
frontend/command-line-syntax.txt
__pycache__/
*.py[cod]
*$py.class
dashboard/.DS_Store.DS_Store
**/.DS_Store
notebooks/01-Inspect-Dataset.ipynb
.ipynb_checkpoints/
pgadmin-servers.json
ml/models
local-run.txt